@font-face {
    font-family: bitOperator;
    src: url(../fonts/8bitOperatorPlus8-Regular.ttf);
}

#resourceMarker{
    font-family: bitOperator;
    text-align: center;
    color: white;
}

#increaseMarker{
    font-family: bitOperator;
    text-align: left;
    margin: 2%;
    color: white;

}

#optionsIcon{
    text-align: right;
    margin-right: 2%;
    float: right;
    width: 95%;
    padding-top: 313%;
    z-index: 4;
    position: relative;
}

#audioIcon{
    text-align: right;
    margin-right: 2%;
    float: right;
    width: 100%;
    z-index: 4;
    position: relative;
}

#gameDiv{
    border: 1px solid white;
    margin: 2%;
    padding: 0%;
    overflow: auto;
    background-image: url("../img/moonMiner.png");
    min-width: 120px;
    min-height: 120px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

body{
    background-color: black;
}

.upgradeImages{
    border: 1px solid white;
    float: left;
    height: 64px;
    width: 64px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;  
}
.upgradeImages:hover {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
  }

.levelNumber{
    font-family: bitOperator;
    color: white;
    text-align: center;
    margin: auto;
    float: left;
    padding-left: 50%;
    font-size: x-large;
}

.upgradesDiv{
    margin: 10% 20% 10% 20%;
    padding: 1%;
    flex-direction: row;
    display: flex;
    z-index: 2;
}

#sideUpgradesDiv{
    float: left;
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    width: 7.5%;
    background-color: orange;
    border: 5px solid black;
}

#rightGameDiv{
    float: right;
    display: flex;
    flex-direction: column;
    width: 7.5%;
    height: 100%;
    background-color: orange;
    border: 5px solid black;
    
}

#centralGameDiv{
    width:95%;
    height: 70%;
    display:flex;
    float: right;
    margin: 0%;
    padding: 0%;
    position: absolute;
    z-index: 1;
}

#gameImagesDiv{
    display: flex;
    flex-direction: column;
    padding: 10%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: auto;
}

#imagesRowOne #imagesRowTwo{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.upgradeSprite{
    height: 200px;
    width: 200px;
    display: inline;
}

#hoverDiv{
    background-color: gray;
    border: 1px solid white;
    font-family: bitOperator;
    overflow: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
    z-index: 3;
    
}

#optionsOverlay{
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.optionsButton{
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: x-large;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: bitOperator;
    background-color: aliceblue;
    border-radius: 0px;
}