@font-face {
    font-family: bitOperator;
    src: url(../fonts/8bitOperatorPlus8-Regular.ttf);
}

body{
    background-image: url(../img/starry.jpg);
    font-family: bitOperator;
}

.rgstDiv, .login{
    color: aliceblue;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 15px;
    text-align: center;
    padding: 2%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    font-size: x-large;
}

.rgstDiv input, .login input {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: x-large;
}

button{
    font-size: x-large;
    font-family: bitOperator;
    background-color: aliceblue;
    border-radius: 0px;
    margin-top: 5%;
}

a{
    text-decoration: none;
}