<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/gameCSS.css}">
    <title>Moon Miner</title>
</head>

<body>
    <div id="gameDiv">
        <h1 id="resourceMarker">0</h1>
        <h2 id="increaseMarker">0</h2>
        <div id="sideUpgradesDiv">
            <div class="upgradesDiv">
                <img th:src="@{/icons/pickaxeIcon.png}" alt="pickaxe" class="upgradeImages"
                    onclick="makeUpgrade('pickaxe', parseInt(document.getElementById('pickaxeLevel').innerHTML))"
                    onmouseover="upgradeHover(this.alt, event)" onmouseleave="resetHoverDiv()">
                <p class="levelNumber" id="pickaxeLevel">0</p><br>
            </div>
            <div class="upgradesDiv">
                <img th:src="@{/icons/drillIcon.png}" alt="drill" class="upgradeImages"
                    onclick="makeUpgrade('drill', parseInt(document.getElementById('drillLevel').innerHTML))"
                    onmouseover="upgradeHover(this.alt, event)" onmouseleave="resetHoverDiv()">
                <p class="levelNumber" id="drillLevel">0</p><br>
            </div>
            <div class="upgradesDiv">
                <img th:src="@{/icons/droneIcon.png}" alt="drone" class="upgradeImages"
                    onclick="makeUpgrade('drone', parseInt(document.getElementById('droneLevel').innerHTML))"
                    onmouseover="upgradeHover(this.alt, event)" onmouseleave="resetHoverDiv()">
                <p class="levelNumber" id="droneLevel">0</p><br>
            </div>
            <div class="upgradesDiv">
                <img th:src="@{/icons/laserIcon.png}" alt="laser" class="upgradeImages"
                    onclick="makeUpgrade('laser', parseInt(document.getElementById('laserLevel').innerHTML))"
                    onmouseover="upgradeHover(this.alt, event)" onmouseleave="resetHoverDiv()">
                <p class="levelNumber" id="laserLevel">0</p><br>
            </div>
            <div class="upgradesDiv">
                <img th:src="@{/icons/explosivesIcon.png}" alt="explosives" class="upgradeImages"
                    onclick="makeUpgrade('explosives', parseInt(document.getElementById('explosivesLevel').innerHTML))"
                    onmouseover="upgradeHover(this.alt, event)" onmouseleave="resetHoverDiv()">
                <p class="levelNumber" id="explosivesLevel">0</p><br>
            </div>
            <div class="upgradesDiv">
                <img th:src="@{/icons/helperIcon.png}" alt="helpers" class="upgradeImages"
                    onclick="makeUpgrade('helpers', parseInt(document.getElementById('helpersLevel').innerHTML))"
                    onmouseover="upgradeHover(this.alt, event)" onmouseleave="resetHoverDiv()">
                <p class="levelNumber" id="helpersLevel">0</p><br>
            </div>
        </div>
        <div id="centralGameDiv" onclick="clickIncrease()">
            <div id="gameImagesDiv">
                <div id="imagesRowOne">
                    <img th:src="@{/img/pickaxe.png}" alt="pickaxeSprite" id="pickaxeImage" class="upgradeSprite">
                    <img th:src="@{/img/drill.png}" alt="drillSprite" id="drillImage" class="upgradeSprite">
                    <img th:src="@{/img/drone.png}" alt="droneSprite" id="droneImage" class="upgradeSprite">
                </div>
                <div id="imagesRowTwo">
                    <img th:src="@{/img/laser.png}" alt="laserSprite" id="laserImage" class="upgradeSprite">
                    <img th:src="@{/img/explosives.png}" alt="explosivesSprite" id="explosivesImage"
                        class="upgradeSprite">
                    <img th:src="@{/img/helper.png}" alt="helperSprite" id="helperImage" class="upgradeSprite">
                </div>
            </div>
        </div>
        <div id="rightGameDiv">
            <div class="optionsMenuElement">
                <img th:src="@{/icons/optionsIcon.png}" alt="optionsIcon" id="optionsIcon" onclick="toggleOptions()">
            </div>
            <div class="optionsMenuElement">
                <img th:src="@{/icons/audioIcon.png}" alt="audioIcon" id="audioIcon" onclick="toggleAudio()">
            </div>
            <audio th:src="@{/audio/lostmemories.mp3}" id="audioPlayer" type="audio/mp3" preload="auto"></audio>
        </div>
    </div>
    <div id="hoverDiv" style="display: none;">
        <p id="upgradeName">upgrade</p>
        <p id="hoverPrice">0</p>
        <p id="hoverFlavourText"></p>
    </div>
    <div id="optionsOverlay" style="display: none;">
        <button class="optionsButton" id="logOutButton" onclick="logOut()">Log out</button>
        <button class="optionsButton" id="resetButton" onclick="resetProgress()">Reset progress</button>
        <button class="optionsButton" id="closeOptionsButton" onclick="toggleOptions()">Close</button>
    </div>
</body>
<script>
    var resources = 0;
    var increase = 0;
    var upgrades = {
        pickaxe: 0,
        drill: 0,
        drone: 0,
        laser: 0,
        explosives: 0,
        helpers: 0
    }
    var resourceMarker = document.getElementById("resourceMarker");
    var JSONString = "";
    var audio = document.getElementById("audioPlayer");
    var confirmation = false;
    $.when(populateVars(), getJSONString()).done(function(){
        updateLevelsText();
        toggleUpgradeVisibility();
        setInterval(performResourceUpdate, 1000);
        setInterval(updateDatabaseResources, 10000);
    });



    function getJSONString(){
        return $.ajax({
        type: "POST",
        url: "getJSONConfigAsString",
        success: function (result) {
            JSONString = JSON.parse(result);

        },
        error: function (result) {

        }
    })
    }
    function populateVars(){
        let queryData = { username: sessionStorage.getItem("username") }
    return $.ajax({
        type: "POST",
        url: "populateVariables",
        data: queryData,
        success: function (result) {
            if (!result) {
                //TODO
            }
            else {
                resources = result[0];
                increase = result[1];
                updateIncrease();
                upgrades.pickaxe = result[2];
                upgrades.drill = result[3];
                upgrades.drone = result[4];
                upgrades.laser = result[5];
                upgrades.explosives = result[6];
                upgrades.helpers = result[7];
                updateIncreaseAmount();
                updateLevelsText();
            }
        },
        error: function (result) {
            // do something.
        }
    })
    }
    function upgradeHover(entryElementAlt, event) {
        document.getElementById("upgradeName").innerHTML = entryElementAlt;
        switch (entryElementAlt) {
            case "pickaxe":
                if (upgrades.pickaxe < 10) {
                    document.getElementById("hoverPrice").innerHTML = "Upgrade cost: " + JSONString.pickaxe[returnLevelAsString(upgrades.pickaxe + 1)].cost;
                    if(resources > JSONString.pickaxe[returnLevelAsString(upgrades.pickaxe + 1)].cost){
                        document.getElementById("hoverPrice").style.color = "green";
                    }
                    else{
                        document.getElementById("hoverPrice").style.color = "red";
                    }
                }
                else {
                    document.getElementById("hoverPrice").innerHTML = "Max";
                    document.getElementById("hoverPrice").style.color = "yellow";
                }
                document.getElementById("hoverFlavourText").innerHTML = "A whole moon mining operation and all I get is a pickaxe?!"
                break;
            case "drill":
                if (upgrades.drill < 10) {
                    document.getElementById("hoverPrice").innerHTML = "Upgrade cost: " + JSONString.drill[returnLevelAsString(upgrades.drill + 1)].cost;
                    if(resources > JSONString.drill[returnLevelAsString(upgrades.drill + 1)].cost){
                        document.getElementById("hoverPrice").style.color = "green";
                    }
                    else{
                        document.getElementById("hoverPrice").style.color = "red";
                    }
                }
                else {
                    document.getElementById("hoverPrice").innerHTML = "Max";
                    document.getElementById("hoverPrice").style.color = "yellow";
                }
                document.getElementById("hoverFlavourText").innerHTML = "Finally something resembling technology"
                break;
            case "drone":
                if (upgrades.drone < 10) {
                    document.getElementById("hoverPrice").innerHTML = "Upgrade cost: " + JSONString.drone[returnLevelAsString(upgrades.drone + 1)].cost;
                    if(resources > JSONString.drone[returnLevelAsString(upgrades.drone + 1)].cost){
                        document.getElementById("hoverPrice").style.color = "green";
                    }
                    else{
                        document.getElementById("hoverPrice").style.color = "red";
                    }
                }
                else {
                    document.getElementById("hoverPrice").innerHTML = "Max";
                    document.getElementById("hoverPrice").style.color = "yellow";
                }
                document.getElementById("hoverFlavourText").innerHTML = "Buzzing all over the place, helping you detect minerals beneath the surface"
                break;
            case "laser":
                if (upgrades.laser < 10) {
                    document.getElementById("hoverPrice").innerHTML = "Upgrade cost: " + JSONString.laser[returnLevelAsString(upgrades.laser + 1)].cost;
                    if(resources > JSONString.laser[returnLevelAsString(upgrades.laser + 1)].cost){
                        document.getElementById("hoverPrice").style.color = "green";
                    }
                    else{
                        document.getElementById("hoverPrice").style.color = "red";
                    }
                }
                else {
                    document.getElementById("hoverPrice").innerHTML = "Max";
                    document.getElementById("hoverPrice").style.color = "yellow";
                }
                document.getElementById("hoverFlavourText").innerHTML = "Awfully clunky-looking, but the best you have for precision digging"
                break;
            case "explosives":
                if (upgrades.explosives < 10) {
                    document.getElementById("hoverPrice").innerHTML = "Upgrade cost: " + JSONString.explosives[returnLevelAsString(upgrades.explosives + 1)].cost;
                    if(resources > JSONString.explosives[returnLevelAsString(upgrades.explosives + 1)].cost){
                        document.getElementById("hoverPrice").style.color = "green";
                    }
                    else{
                        document.getElementById("hoverPrice").style.color = "red";
                    }
                }
                else {
                    document.getElementById("hoverPrice").innerHTML = "Max";
                    document.getElementById("hoverPrice").style.color = "yellow";
                }
                document.getElementById("hoverFlavourText").innerHTML = "The moon is not gonna mind some extra craters now will it?"
                break;
            case "helpers":
                if (upgrades.helpers < 10) {
                    document.getElementById("hoverPrice").innerHTML = "Upgrade cost: " + JSONString.helpers[returnLevelAsString(upgrades.helpers + 1)].cost;
                    if(resources > JSONString.helpers[returnLevelAsString(upgrades.helpers + 1)].cost){
                        document.getElementById("hoverPrice").style.color = "green";
                    }
                    else{
                        document.getElementById("hoverPrice").style.color = "red";
                    }
                }
                else {
                    document.getElementById("hoverPrice").innerHTML = "Max";
                    document.getElementById("hoverPrice").style.color = "yellow";
                }
                document.getElementById("hoverFlavourText").innerHTML = "Need a hand?"
                break;
        }
        let x = event.clientX;
        let y = event.clientY;
        let hoverDiv = document.getElementById("hoverDiv");
        hoverDiv.style.position = "absolute";
        hoverDiv.style.display = "block";
        hoverDiv.style.left = (x + 10) + "px";
        hoverDiv.style.top = y + "px";

    }

    function toggleUpgradeVisibility() {
        if (upgrades.pickaxe > 0) {
            document.getElementById("pickaxeImage").style.visibility = "visible";
        }
        else {
            document.getElementById("pickaxeImage").style.visibility = "hidden";
        }
        if (upgrades.drill > 0) {
            document.getElementById("drillImage").style.visibility = "visible";
        }
        else {
            document.getElementById("drillImage").style.visibility = "hidden";
        }
        if (upgrades.drone > 0) {
            document.getElementById("droneImage").style.visibility = "visible";
        }
        else {
            document.getElementById("droneImage").style.visibility = "hidden";
        }
        if (upgrades.laser > 0) {
            document.getElementById("laserImage").style.visibility = "visible";
        }
        else {
            document.getElementById("laserImage").style.visibility = "hidden";
        }
        if (upgrades.explosives > 0) {
            document.getElementById("explosivesImage").style.visibility = "visible";
        }
        else {
            document.getElementById("explosivesImage").style.visibility = "hidden";
        }
        if (upgrades.helpers > 0) {
            document.getElementById("helperImage").style.visibility = "visible";
        }
        else {
            document.getElementById("helperImage").style.visibility = "hidden";
        }
    }

    function resetHoverDiv() {
        let hoverDiv = document.getElementById("hoverDiv");
        hoverDiv.style.display = 'none';

    }

    function performResourceUpdate() {
        resources = resources + increase;
        if (resources > JSONString.helpers.ten.cost) {
            resources = JSONString.helpers.ten.cost;
        }
        updateResource(resources);
        updateIncrease(increase);
    }

    function updateLevelsText() {
        document.getElementById("pickaxeLevel").innerHTML = upgrades.pickaxe;
        document.getElementById("drillLevel").innerHTML = upgrades.drill;
        document.getElementById("droneLevel").innerHTML = upgrades.drone;
        document.getElementById("laserLevel").innerHTML = upgrades.laser;
        document.getElementById("explosivesLevel").innerHTML = upgrades.explosives;
        document.getElementById("helpersLevel").innerHTML = upgrades.helpers;
    }

    function updateDatabaseResources() {
        let upgradeStringed = ["pickaxe" + upgrades.pickaxe, "drill" + upgrades.drill, "drone" + upgrades.drone, "laser" + upgrades.laser, "explosives" + upgrades.explosives, "helpers" + upgrades.helpers];
        let userData = {
            username: sessionStorage.getItem("username"),
            resources: resources,
            upgrades: upgradeStringed
        }
        $.ajax({
            type: "POST",
            url: "saveUserResources",
            data: userData,
            success: function (result) {
            },
            error: function (result) {
            }
        });
    }

    function updateIncreaseAmount() {
        let index = 0;
        increase = 0;
        if (upgrades.pickaxe > 0) {
            increase += JSONString.pickaxe[returnLevelAsString(upgrades.pickaxe)].upgrade;
        }
        if (upgrades.drill > 0) {
            increase += JSONString.drill[returnLevelAsString(upgrades.drill)].upgrade;
        }
        if (upgrades.drone > 0) {
            increase += JSONString.drone[returnLevelAsString(upgrades.drone)].upgrade;
        }
        if (upgrades.laser > 0) {
            increase += JSONString.laser[returnLevelAsString(upgrades.laser)].upgrade;
        }
        if (upgrades.explosives > 0) {
            increase += JSONString.explosives[returnLevelAsString(upgrades.explosives)].upgrade;
        }
        if (upgrades.helpers > 0) {
            increase += JSONString.helpers[returnLevelAsString(upgrades.helpers)].upgrade;
        }

        updateIncrease(increase);
        updateLevelsText();
    }

    function clickIncrease() {
        resources++;
        updateResource(resources);
    }

    function updateIncrease(increase) {
        document.getElementById("increaseMarker").innerHTML = increase + " /s"
    }

    function updateResource(resources) {
        document.getElementById("resourceMarker").innerHTML = resources;
    }

    function linkNameToArrayPosition(position) {
        switch (position) {
            case 0: return "pickaxe";
            case 1: return "drill";
            case 2: return "drone";
            case 3: return "laser";
            case 4: return "explosives";
            case 5: return "helpers";

        }
    }

    function returnLevelAsString(level) {
        switch (parseInt(level)) {
            case 0: return "zero";
            case 1: return "one";
            case 2: return "two";
            case 3: return "three";
            case 4: return "four";
            case 5: return "five";
            case 6: return "six";
            case 7: return "seven";
            case 8: return "eight";
            case 9: return "nine";
            case 10: return "ten";
        }
    }

    function makeUpgrade(upgradeTypeString, currentLevel) {
        if (currentLevel < 10) {
            let objectKey = JSONString[upgradeTypeString][returnLevelAsString(currentLevel + 1)].cost;
            if (parseInt(objectKey) <= resources) {
                resources -= parseInt(objectKey);
                switch (upgradeTypeString) {
                    case "pickaxe": upgrades.pickaxe += 1; break;
                    case "drill": upgrades.drill += 1; break;
                    case "drone": upgrades.drone += 1; break;
                    case "laser": upgrades.laser += 1; break;
                    case "explosives": upgrades.explosives += 1; break;
                    case "helpers": upgrades.helpers += 1; break;
                }

                updateIncreaseAmount();
                updateDatabaseResources();
                updateResource(resources);
                updateLevelsText();
                resetHoverDiv();
                toggleUpgradeVisibility();
            }
        }
    }

    function toggleAudio() {
        if (!audio.paused) {
            audio.play();
        }
        else {
            audio.pause();
        }
    }

    function toggleOptions(){
        if(confirmation){
            !confirmation;
            document.getElementById("resetButton").innerHTML = "Reset progress"
        }
        let optionMenu = document.getElementById("optionsOverlay");
        if(optionMenu.style.display === "none"){
            optionMenu.style.display = "block";
            optionMenu.style.position = "fixed";
            optionMenu.style.zIndex = "5";
        }
        else{
            optionMenu.style.display = "none";
            optionMenu.style.zIndex = "-1";
        }
    }

    function logOut(){
        $.when(updateDatabaseResources()).done(function(){
            sessionStorage.removeItem("username");
            open("http://localhost:8080/", "_self");
        });
    }

    function resetProgress(){
        if(!confirmation){
            document.getElementById("resetButton").innerHTML = "Press again to confirm"
            confirmation = true;
        }
        else{
            $.when(nukeUser()).done(function(){
                logOut();
            });          
        }
    }

    function nukeUser(){
        let queryData = { username: sessionStorage.getItem("username") }
            return $.ajax({
                type: "POST",
                url: "resetUser",
                data: queryData
            })
    }

</script>

</html>