<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/registerCSS.css}">
    <title>Moon Miner</title>
    
    <script>
        function loginPressed(loginUsername, loginPassword) {
            if(loginUsername.length > 0 && loginPassword.length > 0){
            var loginData = {
                username: loginUsername,
                password: loginPassword
            }
            $.ajax({
                type: "POST",
                url: "userLogin",
                data: loginData,
                success: function (result) {
                    if (!result) {
                        document.getElementById("errormsg").innerHTML = "Error logging in";
                    }
                    else{
                        sessionStorage.setItem("username", loginData.username);
                        open("http://localhost:8080/game","_self");
                    }
                },
                error: function (result) {
                    // do something.
                }
            });
        }
        else{
            document.getElementById("errormsg").innerHTML = "Error logging in";
        }
        }
    </script>
</head>

<body>
    <div class="login">
        <label for="username">Username:</label>
        <input type="text" id="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password">
        <br>
        <button id="loginbtn"
            onclick="loginPressed(document.getElementById('username').value, document.getElementById('password').value)">Login</button>
            <button id="registerbtn"><a href="http://localhost:8080/register">Register</a></button>
            <p id="errormsg"></p>
            
    </div>
</body>

</html>