<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/registerCSS.css}">
    <title>Register</title>
    <script>
        function registerUser(registerUsername, registerPassword, confirmedPassword) {
            if(registerUsername.toString().length > 2 && registerPassword.toString().length > 3){
            if (confirmedPassword === registerPassword) {
                var registrationData = {
                    username: registerUsername,
                    password: registerPassword
                }
                $.ajax({
                    type: "POST",
                    url: "userRegistration",
                    data: registrationData,
                    success: function (result) {
                        if (!result) {
                            document.getElementById("errorText").innerHTML = "Username already exists";
                        }
                        else {
                            open("http://localhost:8080/", "_self");
                        }
                    },
                    error: function (result) {
                        // do something.
                    }
                });
            }
            else {
                document.getElementById("errorText").innerHTML = "Passwords do not match";
            }
        }
        else{
            document.getElementById("errorText").innerHTML = "Password and/or username are too short";
        }
        }

    </script>
</head>

<body>
    <div class="rgstDiv">
        <label for="username">Username:</label>
        <input type="text" id="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password">
        <br>
        <label for="confirmPassword">Confirm password:</label>
        <input type="password" id="confirmPassword">
        <br>
        <button id="register"
            onclick="registerUser(document.getElementById('username').value, document.getElementById('password').value, document.getElementById('confirmPassword').value)">Register</button>
        <br>
        <p id="errorText"></p>
    </div>
</body>

</html>